@font-face {
	font-family: "OpenSans-Regular";
	src: url("./fonts/Open_Sans/OpenSans-Regular.ttf");
	font-weight: normal;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans-ExtraBold";
	src: url("./fonts/Open_Sans/OpenSans-ExtraBold.ttf");
	fodnt-weight: extra-bold;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans-Bold";
	src: url("./fonts/Open_Sans/OpenSans-Bold.ttf");
	font-weight: bold;
	font-display: swap;
	font-style: normal;
}

body {
	margin: 0;
	padding: nopadding;
	height: 100%;
}

header {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 760px;
}

#logo {
	height: 14px;
	width: 30px;
}

ul {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

li {
	position: relative;
	justify-content: flex-end;
	padding: 0px 20px;
	color: c1c1c1;
}

a {
	height: 20px;
	text-align: center;
	text-decoration: none;
	font-family: "OpenSans-Bold";
	padding: 0;
	margin-top: 10px;
	font-size: 14px;
	color: #c1c1c1;
}

a:hover {
	color: #828181;
}

img {
	width: 100%;
}

hr {
	margin: 0;
	margin-top: 4px;
	border: solid 1px #d90000;
}

H1 {
	font-family: "OpenSans-ExtraBold";
	font-size: 24px;
}

H2 {
	font-family: "OpenSans-Bold";
	font-size: 16px;
}

.article {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 760px;
	flex: 1 0 auto;
}

p {
	font-family: "OpenSans-Regular";
	font-size: 14px;
}

ol {
	margin-left: 170px;
}

ol li {
	font-family: "OpenSans-Regular";
	font-size: 14px;
}

.vehicles {
	float: left;
	position: relative;
	height: 640px;
	width: 166px;
	margin-right: 25px;
}

.anim-vehicles {
	position: absolute;
	top: 0;
}

.contacts {
	margin-left: 192px;
}

.portfolio {
	position: relative;
	float: left;
	display: block;
	width: 190px;
}

.portfolio li {
	font-family: "OpenSans-Bold";
	color: #c1c1c1;
	font-size: 14px;
	margin: 5px;
	text-align: right;
}

.carousel {
	display: block;
	position: absolute;
	top: 450px;
	margin-left: 70px;
	margin-right: auto;
}

#corporate {
	top: 750px;
}

.carousel h2 {
	text-align: center;
}

.left,
.right {
	height: 20px;
	width: 15px;
	margin: 100px 50px;
}

.left:hover,
.right:hover {
	color: #b80000;
}

.photo {
	height: 210px;
	width: 346px;
}

.left,
.right,
.photo {
	float: left;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: -5px;
	left: 170px;
	background-color: #f1f1f1;
	min-width: 210px;
	z-index: 1;
	padding: nopadding;
	margin: 0;
}

.portfolio li:hover {
	color: #b80000;
}

.portfolio li:hover .dropdown-content {
	display: block;
	background: none;
	margin: 0;
	padding: nopadding;
}

.portfolio li:hover .dropdown-content a {
	white-space: nowrap;
	padding: nopadding;
	text-align: left;
	margin: 5px;
	padding-left: 10px;
	display: block;
	background-color: #da0000;
	color: white;
}

.portfolio li:hover .dropdown-content a:hover {
	background-color: #b80000;
}

.portfolio-map-full {
	position: absolute;
	top: 50px;
	right: 50px;
	width: 500px;
}

.sort-of-vehicles {
	display: inline-block;
	margin-top: 30px;
}

.sort-of-vehicles img {
	width: 148px;
	z-index: 0;
}

#vehicle-0 {
	background-color: #d90000;
	color: white;
}
#vehicle-1 {
	cursor: pointer;
}
.hr-gray {
	margin: 0;
	margin-top: -4px;
	border: solid 1px #b3b3b3;
	padding: 0;
}

.portfolio-map p {
	position: absolute;
	left: 190px;
	top: 380px;
	font-family: "OpenSans-ExtraBold";
	font-size: 10px;
}

.map {
	margin-top: 30px;
	position: relative;
}

.description {
	position: absolute;
	left: 30px;
	bottom: 50px;
	width: 150px;
	height: 100px;
}

form {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 760px;
}

form p {
	margin-left: 192px;
}

input {
	width: 205px;
	margin-right: -2px;
}

textarea {
	width: 412px;
	height: 80px;
}

input,
textarea,
.button {
	display: block;
	margin: 2px auto;
	font-family: "OpenSans-Bold";
	color: gray;
	padding: 10px;
	border: solid 2px #d90000;
	width: 350px;
}

.button {
	width: 374px;
	margin-top: 2px;
	margin-bottom: 50px;
	color: white;
	border: none;
	background-color: #d90000;
}

.button:hover {
	background-color: #b80000;
}

.copyright {
	float: left;
	position: relative;
	height: 30px;
	width: 166px;
	background-color: #d90000;
	margin-right: 2px;
}

.wrapper {
	min-height: calc(100vh - 30px);
}

.footer-info {
	float: left;
	position: relative;
	height: 30px;
	width: 592px;
	background-color: #b80000;
}

footer {
	height: 30px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 760px;
	flex: 0 0 auto;
}

footer p {
	font-family: "OpenSans-Bold";
	color: white;
	font-size: 14px;
	text-align: center;
	margin-top: 5px;
}
.carImg {
	background-color: #d11a1a;
	z-index: 99999;
}
.main-image {
	display: block;
}
.vehicle-1 {
	cursor: pointer;
	z-index: 0;
}

.description-title {
	font-family: "OpenSans-Bold";
	font-size: 16px;
}
.description-text {
	font-size: 14px;
	font-family: "OpenSans-Regular";
}
.regions {
	position: relative;
}

.map-subject {
	font-weight: 700;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
}
.map-subject-1 {
	top: 148px;
	left: 107px;
}
.map-subject-2 {
	top: 180px;
	left: 40px;
}
.map-subject-3 {
	top: 210px;
	left: 100px;
}
.map-subject-4 {
	top: 250px;
	left: 20px;
}
.map-subject-5 {
	top: 300px;
	left: -40px;
}
.map-subject-6 {
	top: 240px;
	left: 220px;
}
.map-subject-7 {
	top: 310px;
	left: 350px;
}
.map-subject-8 {
	top: 210px;
	left: 480px;
}
.regions__img {
	display: block;
	width: 250px;
	height: 250px;
	position: absolute;
	top: 0;
	left: 0;
}
.regions {
	position: relative;
}
.main-map {
	width: 100%;
	height: 403px;
	cursor: pointer;
}
.regions__img {
	/* width: 100%;
	height: 100%; */
	position: absolute;
}
.regions__img-1 {
	width: 41%;
	height: 80%;
	top: -22px;
	left: 36px;
	opacity: 0;
	display: none;
}
.regions__img-2 {
	width: 34%;
	height: 24%;
	top: 146px;
	left: -13px;
	opacity: 0;
	display: none;
}
.regions__img-3 {
	width: 42%;
	height: 23%;
	top: 223px;
	left: -96px;
	opacity: 0;
	display: none;
}
.regions__img-4 {
	display: none;
}
.regions__img-5 {
	display: none;
}
.regions__img-6 {
	display: none;
}
.regions__img-7 {
	display: none;
}
.regions__img-8 {
	top: 0;
	left: 233px;
	opacity: 0.6;
	border: 1px solid #000;
	display: none;
}
.cls-1,
.cls-2 {
	fill: #c1c1c1;
	cursor: pointer;
	/* transition: 0.6s; */
}
.cls-active{
	transition: 0.6s;
}
.cls-1 {
	fill-rule: evenodd;
}

.info-region {
	position: absolute;
	right: 0;
	width: 100%;
}
.header-link {
	color: #da0000;
}
.head {
	border: none;
	width: 100%;
	height: 80px;
}
.info-region__title {
	font-family: "OpenSans-Bold";
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 5px;
}
.info-region__subtitle {
	font-family: "OpenSans-Bold";
	font-size: 22px;
	color: #da0000;
	margin-bottom: 5px;
}
.info-region__text {
	font-family: "OpenSans-Regular";
	font-size: 18px;
	margin-bottom: 5px;
}
.info-region {
	position: relative;
}
.info-region__show {
	position: absolute;
	top: 0;
	opacity: 0;
	transform: translateX(-100px);
	transition: 0.6s;
}
.info-region__active {
	opacity: 1;
	transition: 0.6s;
	transform: translateX(0px);
}
.info-region__transition {
	transition: 0.6s;
	transform: translateX(100px) translateY(-100px) scale(1.9);
}
.info-region__transition-2 {
	transition: 0.6s;
	transform: translateX(170px) translateY(-500px) scale(3.4);
}
.info-region__transition-3 {
	transition: 0.6s;
	transform: translateX(400px) translateY(-620px) scale(2.9);
}
.info-region__transition-4 {
	transition: 0.6s;
	transform: translateX(430px) translateY(-1030px) scale(3.8);
}
.info-region__transition-5 {
	transition: 0.6s;
	transform: translateX(150px) translateY(-440px) scale(2.4);
}
.info-region__transition-6 {
	transition: 0.6s;
	transform: translateX(0) translateY(-240px) scale(1.8);
}
.info-region__transition-7 {
	transition: 0.6s;
	transform: translateX(30px) translateY(-100px) scale(1.3);
}
.info-region__transition-8 {
	transition: 0.6s;
	transform: translateX(-180px) translateY(-40px) scale(1.2);
}
#Слой_1 {
	width: 100%;
}
.region-active {
	display: none;
}
